{lib_dirs, ["deps"]}.
%% {sub_dirs, ["release"]}.
{erl_opts, [debug_info]}. %%, fail_on_warning]}.
{cover_enabled, true}.
{deps, [
    {exmpp, ".*", {git, "http://github.com/processone/exmpp.git", "master"}},
    {ejabberd, "2.1.4", {git, "http://github.com/processone/ejabberd.git", "master"}}
]}.
{clean_files, ["logs", "deps", "build"]}.
